# [defaults]
# collections_path = ./collections:~/.ansible/collections:/usr/share/ansible/collections

# ansible_python_interpreter: /usr/bin/python3
# ansible_connection: ssh
# ansible_ssh_user: root
# ansible_ssh_private_key_file: ~/.ssh/zablink-joex42
# ansible_become: true
# ansible_ssh_common_args: "-o StrictHostKeyChecking=no"
# user_home: /home/root